.weather-block-wrapper {
    padding: 5px 15px;
    min-width: 40%;
    background-color: #fff;
    border-radius: 5px;
    margin: 5px;
}


.title-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-block_h2 {
    margin-right: 10px;
}

.heart {
    width: 20px; 
    height: 20px; 
    transform: rotate(45deg);
    position: relative; 
}    

.heart-active,
.heart-active::before,
.heart-active::after {
    background-color: red; 
}    
.heart-disactive,
.heart-disactive::before,
.heart-disactive::after{
    background-color: rgb(100, 100, 100);
}

.heart::before,
.heart::after {
    content : ''; 
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    position: absolute;
}

.heart::before {
    top: -10px;
    left: 0;
}

.heart::after {
    top: 0;
    left: -10px;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(202, 202, 202);
    margin-bottom: 5px;
}

.name-option {
    font-weight: 600;
}